@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.button-classic {
  cursor: pointer;
  opacity: 1;
  transition: 0.3s ease-in-out;
}

.button-classic:hover {
  opacity: 0.8;
}

@layer components {
  .h2__title {
    @apply text-[25px] middle:text-[35px] large:text-[60px];
  }

  .input__style {
    @apply w-[250px] middle:w-[696px] bg-[#F5F8FF] border border-[#D6DDED] py-[20px] px-[32px] rounded-[10px];
  }
}